* {
    font-family: 'Crimson Text', serif;
    margin: 3px;
  }
  body {
    background-color: rgb(243, 107, 107);
  }
  .card {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      margin: 10px;
      border: none;
      
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .hide-card {
    text-align: center;
    border: none;
  }
  .card-title {
    text-align: center;
  }
  .duck {
    border-bottom: solid black 2px;
  }
  /* .card-deck {
    margin: 10px;
    justify-content: center;
} */